    .button-store {
        display: inline-block;
        box-sizing: border-box;
        background-color: #252c41;
        font-size: 20px;
        color: #fff;
        font-family: Arial, "Roboto", sans-serif;
        width: 200px;
        height: 60px;
        line-height: 60px;
        text-align: center;
        text-decoration: none;
        border: none;
        cursor: pointer;
        transition: all 200ms linear;
    }
    
    .button-store:hover {
        background-color: #fff;
        color: #e24647;
    }
    
    .button-store.-second {
        background-color: transparent;
        border: 2px solid #fff;
        width: 218px;
        line-height: 56px;
    }
    
    .button-store.-second:hover {
        background-color: #fff;
        color: #e24647;
        border: 2px solid inherit;
    }
    
    .button-store>button,
    .button-store>a {
        font: inherit;
        background-color: inherit;
        border: none;
        color: inherit;
        text-decoration: none;
    }
    
    @media(max-width:1310px) {
        .wrap-product>.buttons>.button-store.-second {
            margin-right: 38px;
        }
    }
    
    @media(max-width: 510px) {
        .button-store.-second {
            margin-right: 20px;
        }
    }
    
    @media(max-width: 470px) {
        .button-store,
        .button-store.-second {
            display: block;
            margin: auto;
            width: 90%;
        }
        .button-store.-second {
            margin-bottom: 20px;
        }
    }