.photo-product {
    background-color: #fff;
    display: inline-block;
    height: 554px;
    vertical-align: middle;
    border-top-right-radius: 150px;
    border-bottom-right-radius: 150px;
    margin-right: 157px;
    margin-bottom: 70px;
    padding-left: 100px;
    position: relative;
}

.photo-product::before {
    content: "";
    background-color: #ffffff;
    left: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    transform: translatex(-100%);
}

@media(max-width:1325px) {
    .photo-product {
        margin-right: 140px;
    }
}

@media(max-width:1310px) {
    .photo-product {
        display: block;
        margin: 0px;
        border-radius: 0px;
        text-align: center;
        margin-bottom: 30px;
        padding-left: 0;
    }
}

@media(max-width:600px) {
    .photo-product {
        height: auto;
    }
    .photo-product>.photo {
        width: 100%;
    }
}